/* Width */
#scroll {
  overflow-y: scroll;
}

#scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#scroll::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
#scroll::-webkit-scrollbar-thumb {
  background: #585858;
}

/* Handle on hover */
#scroll::-webkit-scrollbar-thumb:hover {
  background: #797979;
}

.titlebar-button-settings {
  background: #222227;
}

.titlebar-button:hover {
  background: #897af1;
}

.titlebar-button-settings:hover {
  background: #897af1;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("fonts/Proxima Nova Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("fonts/Proxima Nova Semibold.woff2") format("woff2");
}
