name: "Build"
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build-omp-launcher:
    name: Windows build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-01-01  # Specific nightly version that works with dll-syringe, remove when it gets fixed so we can use latest

      - name: Install frontend dependencies
        run: yarn install

      - name: Install rust i686-pc-windows-msvc target
        run: rustup target add i686-pc-windows-msvc

      - name: Build project
        run: yarn release

      - name: Generate artifact name
        id: vars
        shell: bash
        run: |
          artifact_name="open.mp-launcher-win-${GITHUB_RUN_ID}"
          echo "artifact_name=${artifact_name}" >> $GITHUB_OUTPUT
          setup_artifact_name="open.mp-launcher-win-setup-${GITHUB_RUN_ID}"
          echo "setup_artifact_name=${setup_artifact_name}" >> $GITHUB_OUTPUT

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.vars.outputs.artifact_name }}
          path: src-tauri/target/i686-pc-windows-msvc/release/omp-launcher.exe
          if-no-files-found: error

      - name: Upload setup artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.vars.outputs.setup_artifact_name }}
          path: src-tauri/target/i686-pc-windows-msvc/release/bundle/nsis/omp-launcher_1.5.2_x86-setup.exe
          if-no-files-found: error